In [102]:
import pandas as pd
Hyyzo = pd.read_csv(r"C:\Users\mk744\Downloads\Complete Orders Details.. .csv")
Hyyzo.columns

Index(['ID', 'Unique_Id', 'User id', 'User name', 'Store/Task Name',
       'Campaign_Name', 'Partner', 'Status', 'Amount', 'click_id', 'order_id',
       'Payout', 'point_post_payout', 'conversion_date', 'Action_Date'],
      dtype='object')

In [103]:
Hyyzo_cols = Hyyzo.filter(items=['Unique_Id', 'Campaign_Name',
                                 'Partner', 'Status', 'Amount',
                                 'Payout', 'Action_Date'])

In [104]:
Hyyzo_cols.head()

   Unique_Id Campaign_Name   Partner   Status  Amount  Payout Action_Date
0   20227876  Amazon India  cuelinks  pending   23.73       2  18-10-2024
1   20227916  Amazon India  cuelinks  pending   75.42       3  18-10-2024
2   20228018  Amazon India  cuelinks  pending  875.00       2  18-10-2024
3   20226279  Amazon India  cuelinks  pending  199.00       4  18-10-2024
4   20226324  Amazon India  cuelinks  pending  618.10      25  18-10-2024

In [105]:
Hyyzo_cols['Date'] = pd.to_datetime(Hyyzo_cols['Action_Date'],dayfirst=True, errors='coerce').dt.strftime('%Y-%m-%d')
Hyyzo_cols.drop(columns=['Action_Date'], inplace=True)

In [106]:
Hyyzo_cols.head()

   Unique_Id Campaign_Name   Partner   Status  Amount  Payout        Date
0   20227876  Amazon India  cuelinks  pending   23.73       2  2024-10-18
1   20227916  Amazon India  cuelinks  pending   75.42       3  2024-10-18
2   20228018  Amazon India  cuelinks  pending  875.00       2  2024-10-18
3   20226279  Amazon India  cuelinks  pending  199.00       4  2024-10-18
4   20226324  Amazon India  cuelinks  pending  618.10      25  2024-10-18

In [107]:
Cue_hz = pd.read_excel(r"C:\Users\mk744\Downloads\Cuelinks HZ.xls")
Cue_hz.columns

Index(['Id', 'Campaign_Name', 'Payout', 'Status', 'Action_Date', 'Sub_Id',
       'Amount', 'Channel_Name', 'Partner'],
      dtype='object')

In [108]:
Cue_hz_cols = Cue_hz.filter(items=['Id', 'Campaign_Name', 'Partner',
                                   'Status', 'Amount', 
                                   'Payout', 'Action_Date'])
Cue_hz_cols.head()

         Id Campaign_Name   Partner   Status  Amount  Payout Action_Date
0  20177358        Shopsy  cuelinks  pending  159.00    8.80  2024-10-17
1  20180423          Ajio  cuelinks  pending  398.62   68.16  2024-10-17
2  20180424          Ajio  cuelinks  pending  398.62   68.16  2024-10-17
3  20180425          Ajio  cuelinks  pending  360.62   61.67  2024-10-17
4  20197296          Boat  cuelinks  pending  848.00   67.84  2024-10-18

In [109]:
merge_df = pd.merge(
        Hyyzo_cols,
        Cue_hz_cols,
        left_on='Unique_Id',
        right_on='Id',
        how='outer',
        suffixes=("__Hyyzo", "_Partner_Hyyzo")
    )

In [110]:
merge_df.to_excel('Amzn_india_akshit.xlsx', index=False)

In [111]:
# Ensure the 'Date' column is in datetime format
merge_df['Date'] = pd.to_datetime(merge_df['Date'], errors='coerce')

# Define the start and end dates
start_date = '2024-10-16'
end_date = '2024-10-18'

# Filter the DataFrame between the start and end dates
filtered_df = merge_df[(merge_df['Date'] >= start_date) & (merge_df['Date'] <= end_date)]

# Display the filtered DataFrame
filtered_df.head()

,Unique_Id,Campaign_Name__Hyyzo,Partner__Hyyzo,Status__Hyyzo,Amount__Hyyzo,Payout__Hyyzo,Date,Id,Campaign_Name_Partner_Hyyzo,Partner_Partner_Hyyzo,Status_Partner_Hyyzo,Amount_Partner_Hyyzo,Payout_Partner_Hyyzo,Action_Date
0,20227876.0,Amazon India,cuelinks,pending,23.73,2.0,2024-10-18,20227876,Amazon India,cuelinks,pending,23.73,2.42,2024-10-18
1,20227916.0,Amazon India,cuelinks,pending,75.42,3.0,2024-10-18,20227916,Amazon India,cuelinks,pending,75.42,2.55,2024-10-18
2,20228018.0,Amazon India,cuelinks,pending,875.00,2.0,2024-10-18,20228018,Amazon India,cuelinks,pending,875.00,2.03,2024-10-18
3,20226279.0,Amazon India,cuelinks,pending,199.00,4.0,2024-10-18,20226279,Amazon India,cuelinks,pending,199.00,4.06,2024-10-18
4,20226324.0,Amazon India,cuelinks,pending,618.10,25.0,2024-10-18,20226324,Amazon India,cuelinks,pending,618.10,25.07,2024-10-18

In [112]:
# 19th data
Akshit_Hyyzo = pd.read_csv(r"C:\Users\mk744\Downloads\Akshit data hyyzo.csv")
Akshit_Hyyzo.columns

Index(['ID', 'Unique_Id', 'User id', 'User name', 'Store/Task Name',
       'Campaign_Name', 'Partner', 'Status', 'Amount', 'click_id', 'order_id',
       'Payout', 'point_post_payout', 'conversion_date', 'Action_Date'],
      dtype='object')

In [113]:
Akshit_Hyyzo_Cols = Akshit_Hyyzo.filter(items=['Unique_Id', 'Campaign_Name', 'Partner', 'Status', 'Amount', 'Payout', 'Action_Date'])
Akshit_Hyyzo_Cols.head()

,Unique_Id,Campaign_Name,Partner,Status,Amount,Payout,Action_Date
0,1091266745,Flipkart [CPS] IN,admitad,pending,17999.0,0,21-10-2024
1,1091266932,Flipkart [CPS] IN,admitad,pending,244.0,6,21-10-2024
2,1091267293,Flipkart [CPS] IN,admitad,pending,129.0,3,21-10-2024
3,1091186102,Flipkart [CPS] IN,admitad,NaN,1186.0,27,20-10-2024
4,1091178693,Flipkart [CPS] IN,admitad,pending,2719.0,49,20-10-2024

In [114]:
Akshit_Hyyzo_Cols['Date'] = pd.to_datetime(Akshit_Hyyzo_Cols['Action_Date'],dayfirst=True, errors='coerce').dt.strftime('%Y-%m-%d')
Akshit_Hyyzo_Cols.drop(columns=['Action_Date'], inplace=True)

In [115]:
Akshit_Hyyzo_Cols

,Unique_Id,Campaign_Name,Partner,Status,Amount,Payout,Date
0,1091266745,Flipkart [CPS] IN,admitad,pending,17999.0,0,2024-10-21
1,1091266932,Flipkart [CPS] IN,admitad,pending,244.0,6,2024-10-21
2,1091267293,Flipkart [CPS] IN,admitad,pending,129.0,3,2024-10-21
3,1091186102,Flipkart [CPS] IN,admitad,NaN,1186.0,27,2024-10-20
4,1091178693,Flipkart [CPS] IN,admitad,pending,2719.0,49,2024-10-20
...,...,...,...,...,...,...,...
217,1090440113,Flipkart [CPS] IN,admitad,pending,189.0,4,2024-10-17
218,1090440618,Flipkart [CPS] IN,admitad,pending,213.0,5,2024-10-17
219,1090440625,Flipkart [CPS] IN,admitad,pending,161.0,5,2024-10-17
220,1090440640,Flipkart [CPS] IN,admitad,pending,499.0,9,2024-10-17
221,1090440656,Flipkart [CPS] IN,admitad,pending,499.0,9,2024-10-17

In [116]:
Akshit_Hyyzo_Cols['Campaign_Name'].value_counts()

Flipkart [CPS] IN    127
Amazon India          95
Name: Campaign_Name, dtype: int64

In [117]:
Flipkart = Akshit_Hyyzo_Cols.query("Campaign_Name == 'Flipkart [CPS] IN'")
Flipkart

,Unique_Id,Campaign_Name,Partner,Status,Amount,Payout,Date
0,1091266745,Flipkart [CPS] IN,admitad,pending,17999.0,0,2024-10-21
1,1091266932,Flipkart [CPS] IN,admitad,pending,244.0,6,2024-10-21
2,1091267293,Flipkart [CPS] IN,admitad,pending,129.0,3,2024-10-21
3,1091186102,Flipkart [CPS] IN,admitad,NaN,1186.0,27,2024-10-20
4,1091178693,Flipkart [CPS] IN,admitad,pending,2719.0,49,2024-10-20
...,...,...,...,...,...,...,...
217,1090440113,Flipkart [CPS] IN,admitad,pending,189.0,4,2024-10-17
218,1090440618,Flipkart [CPS] IN,admitad,pending,213.0,5,2024-10-17
219,1090440625,Flipkart [CPS] IN,admitad,pending,161.0,5,2024-10-17
220,1090440640,Flipkart [CPS] IN,admitad,pending,499.0,9,2024-10-17
221,1090440656,Flipkart [CPS] IN,admitad,pending,499.0,9,2024-10-17

In [118]:
# Ensure the 'Date' column is in datetime format
import warnings
warnings.filterwarnings('ignore')
Flipkart['Date'] = pd.to_datetime(Flipkart['Date'], errors='coerce')

# Define the start and end dates
start_date = '2024-10-19'
end_date = '2024-10-21'

# Filter the DataFrame between the start and end dates
Flipkart_data = Flipkart[(Flipkart['Date'] >= start_date) & (Flipkart['Date'] <= end_date)]

# Display the filtered DataFrame
Flipkart_data

,Unique_Id,Campaign_Name,Partner,Status,Amount,Payout,Date
0,1091266745,Flipkart [CPS] IN,admitad,pending,17999.0,0,2024-10-21
1,1091266932,Flipkart [CPS] IN,admitad,pending,244.0,6,2024-10-21
2,1091267293,Flipkart [CPS] IN,admitad,pending,129.0,3,2024-10-21
3,1091186102,Flipkart [CPS] IN,admitad,NaN,1186.0,27,2024-10-20
4,1091178693,Flipkart [CPS] IN,admitad,pending,2719.0,49,2024-10-20
...,...,...,...,...,...,...,...
169,1090801067,Flipkart [CPS] IN,admitad,pending,499.0,14,2024-10-19
170,1090792417,Flipkart [CPS] IN,admitad,pending,327.0,6,2024-10-19
171,1090792438,Flipkart [CPS] IN,admitad,pending,173.0,3,2024-10-19
172,1090726563,Flipkart [CPS] IN,admitad,pending,218.0,6,2024-10-19
173,1090711420,Flipkart [CPS] IN,admitad,pending,899.0,24,2024-10-19

In [119]:
Amazon = Akshit_Hyyzo_Cols.query("Campaign_Name == 'Amazon India'")
Amazon

     Unique_Id Campaign_Name   Partner   Status  Amount  Payout        Date
28    20258059  Amazon India  cuelinks  pending  126.27       7  2024-10-19
29    20258086  Amazon India  cuelinks  pending   71.43       1  2024-10-19
30    20258208  Amazon India  cuelinks  pending  123.88       4  2024-10-19
31    20258268  Amazon India  cuelinks  pending   79.66       9  2024-10-19
32    20258358  Amazon India  cuelinks  pending  122.48       8  2024-10-19
..         ...           ...       ...      ...     ...     ...         ...
208   20201506  Amazon India  cuelinks  pending   99.00       2  2024-10-17
209   20201641  Amazon India  cuelinks  pending  126.27       3  2024-10-17
210   20201642  Amazon India  cuelinks  pending  338.14       8  2024-10-17
211   20201644  Amazon India  cuelinks  pending   33.00       2  2024-10-17
212   20201654  Amazon India  cuelinks  pending  126.28       4  2024-10-17

[95 rows x 7 columns]

In [120]:
# Ensure the 'Date' column is in datetime format
import warnings
warnings.filterwarnings('ignore')
Amazon['Date'] = pd.to_datetime(Amazon['Date'], errors='coerce')

# Define the start and end dates
start_date = '2024-10-17'
end_date = '2024-10-19'

# Filter the DataFrame between the start and end dates
Amazon_data = Amazon[(Amazon['Date'] >= start_date) & (Amazon['Date'] <= end_date)]

# Display the filtered DataFrame
Amazon_data

     Unique_Id Campaign_Name   Partner   Status  Amount  Payout       Date
28    20258059  Amazon India  cuelinks  pending  126.27       7 2024-10-19
29    20258086  Amazon India  cuelinks  pending   71.43       1 2024-10-19
30    20258208  Amazon India  cuelinks  pending  123.88       4 2024-10-19
31    20258268  Amazon India  cuelinks  pending   79.66       9 2024-10-19
32    20258358  Amazon India  cuelinks  pending  122.48       8 2024-10-19
..         ...           ...       ...      ...     ...     ...        ...
208   20201506  Amazon India  cuelinks  pending   99.00       2 2024-10-17
209   20201641  Amazon India  cuelinks  pending  126.27       3 2024-10-17
210   20201642  Amazon India  cuelinks  pending  338.14       8 2024-10-17
211   20201644  Amazon India  cuelinks  pending   33.00       2 2024-10-17
212   20201654  Amazon India  cuelinks  pending  126.28       4 2024-10-17

[95 rows x 7 columns]

In [121]:
# Flipkart data
dataset_fkart = pd.read_excel(r"C:\Users\mk744\Downloads\Adm Hyyzo 19 to 21.xlsx")
dataset_fkart.columns

Index(['Inventory', 'Campaign_Name', 'Action_Date', 'Amount', 'Status',
       'Payout', 'Currency', 'SubID', 'Id'],
      dtype='object')

In [122]:
Dataset_Fkart = dataset_fkart.filter(items=['Id', 'Campaign_Name', 'Partner', 'Status', 'Amount', 'Payout', 'Action_Date'])
Dataset_Fkart['Campaign_Name'].value_counts()

Flipkart [CPS] IN    185
Name: Campaign_Name, dtype: int64

In [123]:
Dataset_Fkart['Date'] = pd.to_datetime(Dataset_Fkart['Action_Date'], errors = 'coerce').dt.date
Dataset_Fkart.drop(columns = ['Action_Date'], inplace=True)

In [124]:
Dataset_Fkart.head()

           Id      Campaign_Name   Status  Amount  Payout        Date
0  1091267957  Flipkart [CPS] IN  pending       0    0.00  2024-10-21
1  1091267930  Flipkart [CPS] IN  pending    8699   79.16  2024-10-21
2  1091267293  Flipkart [CPS] IN  pending     129    2.69  2024-10-21
3  1091266932  Flipkart [CPS] IN  pending     244    6.29  2024-10-21
4  1091266745  Flipkart [CPS] IN  pending   17999    0.00  2024-10-21

In [125]:
Merge_Flipkart = pd.merge(
        Flipkart_data,
        Dataset_Fkart,
        left_on='Unique_Id',
        right_on='Id',
        how='outer',
        suffixes=("__Hyyzo", "_Partner_Hyyzo")
    )

In [126]:
# Cuelinks
Cue_amzon = pd.read_excel(r"C:\Users\mk744\Downloads\Cuelinks Amazon india.xls")
Cue_amzon.columns

Index(['Id', 'Campaign_Name', 'Payout', 'Status', 'Action_Date', 'SubId',
       'Amount', 'Inventory', 'Partner'],
      dtype='object')

In [130]:
Cue_amzon_Cols = Cue_amzon.filter(items=['Id', 'Campaign_Name', 'Partner', 'Status', 'Amount', 'Payout', 'Action_Date'])
Cue_amzon_Cols['Date'] = pd.to_datetime(Cue_amzon_Cols['Action_Date'], errors = 'coerce').dt.date
Cue_amzon_Cols.drop(columns = ['Action_Date'], inplace=True)

In [131]:
Cue_amzon_Cols

          Id Campaign_Name   Partner   Status  Amount  Payout        Date
0   20200176  Amazon India  cuelinks  pending  378.89   76.82  2024-10-17
1   20200241  Amazon India  cuelinks  pending   23.73    0.81  2024-10-17
2   20200272  Amazon India  cuelinks  pending  311.01   12.62  2024-10-17
3   20200292  Amazon India  cuelinks  pending  189.53    6.41  2024-10-17
4   20200337  Amazon India  cuelinks  pending  534.82    7.23  2024-10-17
..       ...           ...       ...      ...     ...     ...         ...
90  20259136  Amazon India  cuelinks  pending    0.85    0.05  2024-10-19
91  20259161  Amazon India  cuelinks  pending  326.27    4.42  2024-10-19
92  20259204  Amazon India  cuelinks  pending   10.00    2.03  2024-10-19
93  20259205  Amazon India  cuelinks  pending   83.90    2.84  2024-10-19
94  20259297  Amazon India  cuelinks  pending  506.78   17.13  2024-10-19

[95 rows x 7 columns]

In [132]:
# Amazon_data
Merge_Amazon = pd.merge(
        Amazon_data,
        Cue_amzon_Cols,
        left_on='Unique_Id',
        right_on='Id',
        how='outer',
        suffixes=("__Hyyzo", "_Partner_Hyyzo")
    )